.root{
    -fx-background-color: null;
    -theme-color:#22c5fd;
    -theme-color-fade:#A4D4FF;
}

/******音乐列表界面******/
.music-list-pane{
    -fx-background-color: rgb(238,245,250);
}

.music-list-view{
    -fx-font-size: 16px;
    -fx-focus-color: -list-view-color;;
}

.list-cell{
    -fx-pref-height: 30px;
    -fx-border-radius: 5px;
    -fx-background-color:  rgb(238,245,250);
}

.list-cell:hover{
    -fx-border-color:-theme-color-fade;
    -fx-border-radius: 5px;
}

.list-cell:selected{
    -fx-background-color: -theme-color-fade;
    -fx-border-radius: 5px;
}

.list-cell .music-del-btn{
    -fx-pref-height: 25px;
    -fx-pref-width: 30px;
    -fx-border-radius: 5px;
    -fx-background-color: null;
}

.list-cell .music-del-btn Region {
    -fx-background-color: -theme-color;
    -fx-shape: "M533.333333 503.466667l89.6-89.6 29.866667 29.866666-89.6 89.6 89.6 89.6-29.866667 29.866667-89.6-89.6-89.6 89.6-29.866666-29.866667 89.6-89.6-89.6-89.6 29.866666-29.866666 89.6 89.6zM213.333333 213.333333h640v640H213.333333V213.333333z m42.666667 42.666667v554.666667h554.666667V256H256z";
}

.list-cell .music-del-btn:hover{
    -fx-background-color: -theme-color-fade;
}

.list-cell .music-del-btn:selected{
    -fx-background-color: -theme-color;
}


/***搜索框***/
.music-search-field{
    -fx-border-color: -theme-color-fade;
}

/**左侧面板*/

.music-add-btn{
    -fx-background-color: -theme-color-fade;
    -fx-border-radius: 5px;
    -fx-pref-height: 35px;
    -fx-pref-width: 300px;
    -fx-font-size: 16px;
    -fx-font-family: Consolas;
}

.music-add-btn:hover{
    -fx-background-color: -theme-color;
}
